/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header {
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

header p {
    font-size: 20px;
    color: #666;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
}

h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

.person {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.person img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.person h3 {
    margin-top: 10px;
    font-size: 22px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* Adding space below the Spongebob description */
.team-photo + p {
    margin-bottom: 40px; /* Adjust this value as needed */
}
